@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'reset.css';
/*components*/
@import 'components/weather-bar.css';
@import 'components/clock.css';
@import 'components/greetings.css';
@import 'components/todo-list.css';
@import 'components/quote.css';
body {
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}

.hidden {
  display: none;
}

img {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
}
